.xml-cache {
	--xml-cache-color-active: #00a32a;
	--xml-cache-color-empty: #dba617;
	container-type: inline-size;
}

.xml-cache__stats {
	font-size: 13px;
	font-weight: 600;
	margin-top: 0.5rem;
}

.xml-cache__stats--active {
	color: var(--xml-cache-color-active);
}

.xml-cache__stats--empty {
	color: var(--xml-cache-color-empty);
}

.xml-cache__buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.xml-cache__toggles {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	align-items: center;
}

@container (max-width: 500px) {
	.xml-cache__buttons {
		grid-template-columns: 1fr;
	}

	.xml-cache__toggles {
		grid-template-columns: 1fr;
	}
}
